---
import BlogCard from "../../components/BlogCard.astro";
import BlogHero from "../../components/BlogHero.astro";
import Layout from "../../layouts/Layout.astro";
import type { BlogPost } from "../../env";
let blogs: BlogPost[] = [];

await fetch(`${import.meta.env.PUBLIC_DB}/blogpost/`)
  .then((res) => res.json())
  .then((data) => {
    blogs = data;
  });
---

<Layout title="Blog">
 <main>
   <article class="rounded-lg">
       <header>
         <BlogHero />
       </header>
       <section class='py-8 mx-auto max-w-screen-2xl px-4 grid grid-cols-1 lg:grid-cols-3'>
         {
            blogs.map((blog) => (
                <BlogCard title={blog.title},
                    image= {blog.image_details.image},
                    alt= {blog.image_details.name},
                    date= {blog.publishDate},
                    author= {blog.author_details.name},
                    avatar={blog.author_details.image},
                    description= {blog.description}/>
            ))
         }
       </section>
   </article>
 </main>
</Layout>
