---
import { BlogCard } from "./Card";

let blogs: BlogPost[] = [];

export interface BlogPost {
  id: number;
  author_details: Details;
  image_details: Details;
  title: string;
  description: string;
  content: string;
  publishDate: Date;
}

export interface Details {
  id: number;
  name: string;
  image: string;
  uploadDate?: Date;
}

await fetch("http://127.0.0.1:8000/blogpost/")
  .then((res) => res.json())
  .then((data) => {
    blogs = data;
  });
---

<div class="flex flex-col bg-base-100">
  <div
    class="w-full py-12 text-center bg-gradient-to-b from-base-200 to-base-100"
  >
    <p
      class="mt-2 text-xl font-bold leading-8 tracking-tight text-primary sm:text-xl"
    >
      Ultimas Noticias Publicadas
    </p>
    <p
      class="mt-2 mb-2 text-3xl font-extrabold leading-8 tracking-tight text-primary sm:text-4xl"
    >
      Noticias Culturales
    </p>
    <p
      class="text-lg font-medium leading-8 tracking-tight text-black sm:text-lg mt-4"
    >
      Todas las noticias recientes relacionadas con la cultura de nuestra
      Valencia con el objetivo de mantener a la comunidad
    </p>
    <p
      class="mb-12 text-lg font-medium leading-8 tracking-tight text-black sm:text-lg"
    >
      Informada sobre los eventos y actividades culturales que se están llevando
      a cabo en la ciudad.
    </p>
  </div>
  <div
    class="grid grid-cols-1 justify-items-center gap-8 md:grid-cols-2 xl:grid-cols-3 2xl:mx-28"
  >
    <!-- {
      blogs.map((blog) => (
        <BlogCard
          client:load
          title={blog.title}
          img={blog.image_details.image}
          alt={blog.image_details.name}
          description={blog.description}
          author={blog.author_details.name}
          avatar={blog.author_details.image}
          date={blog.publishDate}
        />
      ))
    } -->
  </div>
</div>
