---
import type { BlogPost } from "../env";
import BlogCard from "./BlogCard.astro";

let blogs: BlogPost[] = [];

await fetch(`${import.meta.env.PUBLIC_DB}/blogpost/`)
  .then((res) => res.json())
  .then((data) => {
    blogs = data;
  });
---

<div class="flex flex-col bg-base-100">
  <div
    class="w-full pt-12 text-center bg-gradient-to-b from-base-200 to-base-100"
  >
    <p
      class="mt-2 text-xl font-bold leading-8 tracking-tight text-primary sm:text-xl"
    >
      Últimos Artículos Publicados
    </p>
    <p
      class="mt-2 mb-2 text-3xl font-extrabold leading-8 tracking-tight text-primary sm:text-4xl"
    >
      Artículos de nuestro Blog
    </p>
    <p
      class="text-lg font-medium leading-8 tracking-tight text-black sm:text-lg mt-4"
    >
      Visualiza todos nuestros artículos recientes relacionados con la cultura de nuestra
      Valencia con el objetivo de mantener a la comunidad
    </p>
    <p
      class="mb-12 text-lg font-medium leading-8 tracking-tight text-black sm:text-lg"
    >
      informada sobre los eventos y actividades culturales y recreacionales que se están llevando
      a cabo en la ciudad.
    </p>
  </div>
  <section class='py-8 mx-auto max-w-screen-2xl px-4 grid grid-cols-1 lg:grid-cols-3'>
    {
       blogs.map((blog) => (
           <BlogCard title={blog.title},
               image= {blog.image_details.image},
               alt= {blog.image_details.name},
               date= {blog.publishDate},
               author= {blog.author_details.name},
               avatar={blog.author_details.image},
               description= {blog.description}/>
       ))
    }
  </section>
</div>
